First run `wget http://codeforces.com/api/user.ratedList`.

In [11]:
import json

import numpy as np
import pandas as pd

In [12]:
with open('data/user.ratedList') as f:
    rated_list_json = json.load(f)

In [18]:
df = pd.DataFrame(rated_list_json['result'])

In [19]:
df[0:2]

,avatar,city,contribution,country,email,firstName,friendOfCount,handle,lastName,lastOnlineTimeSeconds,maxRank,maxRating,openId,organization,rank,rating,registrationTimeSeconds,titlePhoto,vkId
0,//userpic.codeforces.com/422/avatar/1d4e692d66...,Gomel,159,Belarus,NaN,Gennady,13885,tourist,Korotkevich,1533410546,legendary grandmaster,3739,NaN,ITMO University,legendary grandmaster,3434,1265987288,//userpic.codeforces.com/422/title/6dd5ba0df6a...,NaN
1,//userpic.codeforces.com/19965/avatar/ef91137d...,NaN,110,China,NaN,Yuhao,4078,OO0OOO00O0OOO0O00OOO0OO,Du,1533410701,legendary grandmaster,3441,NaN,NaN,legendary grandmaster,3280,1306208507,//userpic.codeforces.com/19965/title/760cc17da...,NaN